<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Fluffy</title>
  <link rel="stylesheet" href="/static/css/app.css">
</head>

<body>
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
      </ul>
      <a href="/">
        <span class="logo"></span>
        <h1 class="title">Fluffy Cloud</h1>
      </a>
    </div>

    <%= @inner %>

    <div class="footer">
      <p>Powered by data from <a href="http://forecast.io">http://forecast.io</a>.</p>
    </div>

  </div> <!-- /container -->
</body>
</html>
