<div class="jumbotron">
  <h2>Welcome to Fluffy Cloud!</h2>
  <p class="lead"></p>
  <p>
    See <a href="/zip/06030">Farmington, CT</a>
  </p>
  <p>
    See <a href="/zip/27592">Willow Springs, NC</a>
  </p>
  <p>
  	See <a href="/zip/02110">Bosten, MA</a>
  </p>
  <p>
	See <a href="/zip/73301">Austen, TX</a>
  </p>
</div>

