<div class="jumbotron">
  <h2>Welcome to Fluffy Cloud!</h2>
  <p class="lead"></p>
  <p>
    See <a href="/now/06030">Farmington, CT</a>
  </p>
  <p>
    See <a href="/now/27592">Willow Springs, CT</a>
  </p>
</div>

